.dropdown-list

  &__item
    padding 0.8rem 1.2rem
    font-family Arial
    font-size 1rem
    line-height 1rem
    text-align left
    white-space normal
    word-wrap normal
    border none
    outline none
