@import "../../theme/base";

.dropdown-list

  &__item
    padding 0.8rem 1.2rem
    font-family $font-family
    font-size $font-size
    line-height 1rem
    text-align left
    white-space normal
    word-wrap normal
    border none
    outline none
