.dropdown-list
  display none
  cursor pointer
  position absolute
  top 100%
  flex-direction column
  min-width 100%
  max-height 16rem
  padding 0
  margin 0 -1px
  overflow-x hidden
  overflow-y scroll
  font-size 1em
  text-align left
  background #fff
  border 1px solid gray
  border-top-color transparent
  border-radius 0 0 0.3rem 0.3rem
  outline none
  z-index 3

  &--visible
    display flex!important

    &::-webkit-scrollbar {
      display: none;
    }

  &--upward
    top auto
    bottom 100%
    border-top-color gray
    border-bottom-color transparent
    border-radius 0.3rem 0.3rem 0 0