@import "../../theme/base";

.search-bar
  position relative
  display flex
  min-height 2.7em
  color $weak-color
  font-size $font-size
  border 1px solid $weak-color
  border-radius 0.3rem

  &__input
    width 100%
    padding 0.7em 2.1em 0.7em 1em
    font-family $font-family
    font-size $font-size
    line-height 1.2em
    border none
    border-radius 0.3rem
    outline none
    box-shadow none
    transition all 0.2s ease

  &__input-wrapper
    position relative
    display flex
    width 100%

  &__placeholder
    position absolute
    top 50%
    left 10px
    display block
    padding 0 10px
    font-family $font-family
    color $weak-color
    white-space nowrap
    transition all 0.2s
    transform translateY(-50%)
    pointer-events none
    user-select none

    &--top
      top -9px
      background-color $bg-color
      color $weak-color
      transform translateY(0)

    &--none
      display none

  &__icon
    cursor pointer
    position absolute
    width auto
    height auto
    top 0.2em
    right 0.2em
    padding 0.8em
    line-height 1.2em
    opacity 0.8
    outline none

    &:focus
      outline none

    &:before
      content ''
      display block
      width 0
      height 0
      margin-top 0.2em
      border-left 5px solid transparent
      border-right 5px solid transparent
      border-top 5px solid rgba(0,0,0,0.8)

  &--active
    border-bottom-left-radius 0
    border-bottom-right-radius 0

  &--upward
    border-bottom-left-radius 0.3rem
    border-bottom-right-radius 0.3rem
    border-top-left-radius 0
    border-top-right-radius 0

    .search-bar__icon

      &:before
        transform rotate(180deg)
